{%extends 'base.html'%}

{% block content %}

 <div class="container">
   <div class="row">
       <div class="container text-center">
     <img src="{{image.gallery_image.url}}"  class="img-responsive" alt="">
   </div>
</div>

   <div class="card text-center">
    <div class="card-header">
        <h2 class="text-center">{{image.image_name|title}}</h2>
    </div>
    <div class="card-body">
      <p class="card-title">Location taken: {{image.location}}</p>
      <p class="card-title">Category: {{image.category}}</p>
      <p class="card-text">Description: {{image.image_description}}</p><br>
      <a href="{% url 'welcome' %}" class="btn btn-primary">Back to gallery</a>
    </div>
    <div class="card-footer text-muted"><br>
        Posted on: {{image.pub_date}}
    </div>
  </div>
 </div><br><br><br><br><br>

 {% endblock %}