{%extends 'base.html'%}

 {% block content %}

 <div class="container">

   <div class="row">
       <div class="container text-center">
     <img src="{{image.gallery_image.url}}"  class="img-responsive" alt="">
   </div>
</div>

   <div class="card text-center">
    <div class="card-header">
        <h1 class="text-center">{{image.image_name|title}}</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">Location taken: {{image.location}}</h5>
      <h5 class="card-title">Category: {{image.category}}</h5>

      <p class="card-text">Description: {{image.image_description}}</p>
      <a href="{% url 'welcome' %}" class="btn btn-primary">Back to gallery</a>

      <div id="a" onclick="copyDivToClipboard()">
      <a href="{{image.gallery_image.url}}" class="btn btn-primary">Copy image to clipboard</a></div>

    </div>
    <div class="card-footer text-muted">
        Posted on:{{image.pub_date}}
    </div>
  </div>

 </div><br><br><br><br><br>

 <script>
    function copyDivToClipboard() {
        var range = document.createRange();
        range.selectNode(document.getElementById("a"));
        window.getSelection().removeAllRanges(); // clear current selection
        window.getSelection().addRange(range); // to select text
        document.execCommand("copy");
        window.getSelection().removeAllRanges();// to deselect
    }
</script>

 {% endblock %}